<html>

<head>
    <title>MOC Project Request</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>

<body>
    <h1>MOC Project Request</h1>

    <form>
        <table>
            <tbody>
            <tr>
                <td>Name</td>
                <td>Test User</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>test@email.com</td>
            </tr>

            <tr>
                <td>Organization</td>
                <td><input type="text" /></td>
            </tr>

            <tr>
                <td>Phone</td>
                <td><input type="text" /></td>
            </tr>

            <tr>
                <td>Role</td>
                <td>

                            <input type="radio" name="role" id="student" />
                            <label for="student">Student</label>

                                <input type="radio" name="role" id="staff" />
                                <label for="student">Staff</label>

                                <input type="radio" name="role" id="other" />
                                <label for="student">Faculty</label>

                                <input type="radio" name="role" id="other" />
                                <input type="text" id="other_role" /></td>

                </td>
            </tr>



            <tr>
                <td>MOC Contact / Sponsor</td>
                <td><input type="text" id="moc_sponsor" /></td>
            </tr>

            <tr>
                <td>Project Name</td>
                <td><input type="text" id="project_name" /></td>
            </tr>

            <tr>
                <td>Project Description</td>
                <td><textarea id="project_description"></textarea></td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </tbody>
        </table>
    </form>
</body>

</html>